extends base 

block content 
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Forgot password?
      p.explanation__text Please enter your email address and we'll send you instructions on how to reset your password
      form.form.form--forgot-password
        .form__group
          input#forgot-password.form__input(for='email' type='email', placeholder='elonmusk@spacex.com', required)
        .form__group
          button.btn.btn--green Reset Password