extends base 

block content 
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset password?
      form.form.form--reset-password
        .form__group
          label.form__label(for='password') Password
          input#reset-password.form__input(type='password', placeholder='••••••••', required)
        .form__group
          label.form__label(for='passwordConfirm') Password Confirm
          input#reset-password-confirm.form__input(type='password', placeholder='••••••••', required)
        .form__group
          button.btn.btn--green Reset Password